/* IMPOSTAZIONI GENERALI */
*{
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: auto 10px;
    
}

/* GRANDEZZE PER GLI HEADING TAGS */
h1{
     
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        
    
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* FINE GRANDEZZA HEADING TAGS*/
hr{
    color: 10px solid black;
}
#container{
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.61); 
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.61);
    padding: 25px;
}
strong{
    color: brown;
}

body{
 background-image: url(../img/sfondo.png);

}
/* HEADER */

header{
   background-color: rgba(0,110,136,255);
   
   background: rgb(0,157,200);
   background: linear-gradient(180deg, rgba(0,157,200,1) 0%, rgba(1,68,87,0.8772102591036415) 90%);

}
.logo-box{
    margin-bottom: 15px;  
   
}
.logo-box+ p{
text-align: center;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}

#logo{
    width: 300px;
    padding-left: 30%;
    margin-top: 15px;
    
}
.navbar{
    margin-top: 15px;
    text-align: center;

    
}
.navbar ul {
   list-style-type:none;
   font-family: 'Poppins', sans-serif;
color: #FFFFFF;
   

}

/* MAIN */

main ul, li, ol {
    padding-left: 30px;
    line-height: 1.2em;
}
/* ELEMENTI NEL MAIN - ARTICLE */
.article1 {
    padding: 10px;
    color: #AAAAAA;
}

/* TABELLA */
table{
    margin-bottom: 5px;
    margin-top: 5px;
    
}
table.style-table {
    border: 1px solid #2BAAFD;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.style-table td, table.style-table th {
    border: 0px solid #AAAAAA;
    padding: 9px 3px;
  }
  table.style-table tbody td {
    font-size: 13px;
  }
  table.style-table tr:nth-child(even) {
    background: #D0D7D7;
  }
  table.style-table thead {
    background: #3367CB;
    background: -moz-linear-gradient(top, #668dd8 0%, #4776d0 66%, #3367CB 100%);
    background: -webkit-linear-gradient(top, #668dd8 0%, #4776d0 66%, #3367CB 100%);
    background: linear-gradient(to bottom, #668dd8 0%, #4776d0 66%, #3367CB 100%);
    border-bottom: 1px solid #444444;
  }
  table.style-table thead th {
    font-weight: normal;
    color: #FFFFFF;
    border-left: 0px solid #D0E4F5;
  }
  table.style-table thead th:first-child {
    border-left: none;
  }

  /* VIDEO */

iframe{
    border-radius: 22px;
    
}
.video-sec > p {
    margin: 15px;
    font-family: 'Poppins', sans-serif;
}
/* FORM  newsletter*/
.newsletter > p,h2 {
    text-align: center; 
    
}
.newsletter{
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #AAAAAA;
    text-align: left;
}
.newsletter input{
    border-bottom-style: dotted;
    
}
.newsletter button {
    background-color: #3367CB;
    color: white ;
    
}

/* ELEMENTI NELL' ASIDE */
.data{
    text-align: right;
}


.aside-form, .aside-form1, .aside-form2{
    background-color: #e2e2de ;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.61);
    margin-bottom: 10px; 

}

aside{
    font-family: 'Poppins', sans-serif;
}

/* FOOTER */
footer a {
    color: #f703f8;
}

footer{
    
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.61); 
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.61);
    background: rgb(0,157,200);
    background: linear-gradient(180deg, rgba(0,157,200,1) 0%, rgba(1,68,87,0.8772102591036415) 90%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
    font-size: 0.83em;
    
 }

